body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* header */
/* position */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header .container {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.container-list-nav {
  display: flex;
  gap: 40px;
}

.add-container {
  display: flex;
}
.add-container > li:not(:last-child) {
  margin-right: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-right: 76px;
  padding: 1.5px 0;
}

.logo .logo-name {
  color: #2e2f42;
}
.navi-link {
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  max-height: 72px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi-hover {
  position: relative;
  color: #404bbf;
}
.navi-hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.navi-link:focus,
.navi-link:hover {
  color: #404bbf;
}
.address {
  font-style: normal;
  font-weight: 400;
}
.adr-link {
  color: #434455;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adr-link:focus,
.adr-link:hover {
  color: #404bbf;
}

/* main */
.section {
  padding: 120px 0;
}
/* section 1 */
.title {
  padding: 188px 0;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-size: cover;
}

.title-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}
.button-type {
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-type:focus,
.button-type:hover {
  background-color: #404bbf;
}

/* section 2 */
.about {
  padding: 107px 0 133px 0;
}
.about-list {
  display: flex;
}
.svg-picture {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  fill: currentColor;
}
.about-list > li:not(:last-child) {
  margin-right: 24px;
}
.describe {
  font-weight: 400;
  letter-spacing: 0.02em;
}
.about-head {
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.items-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.about-list-items {
  width: calc((100% - 72px) / 4);
}

/* section 3 */
.team {
  background-color: #f4f4fd;
}
.team-div {
  padding: 32px 0;
}

.team-flex {
  display: flex;
}
.head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-list:not(:last-child) {
  margin-right: 24px;
}
.team-name {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}
.team-prof {
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.social-links {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}
.link:hover {
  background-color: #404bbf;
}
.link:focus {
  background-color: #404bbf;
}
/* section 4 */
.portfolio-list > li {
  width: calc((100% - 48px) / 3);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  overflow: auto;
  padding: 40px 32px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus,
.portfolio-list-item:active {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list-item .overlay {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-items {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio .team-name {
  text-align: start;
}
.portfolio .team-prof {
  text-align: start;
}

/* footer */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-weight: 400;
  letter-spacing: 0.02em;
  padding: 100px 0;
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
}
.logo-name-footer {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-container-logo {
  margin-right: 120px;
}
.social-links-footer .link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover {
  background-color: #31d0aa;
}
.link-footer:focus {
  background-color: #31d0aa;
}
.social-links-footer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.footer-text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-container-social {
  margin-right: 80px;
}
/*modal-footer*/

.footer-subscribe {
}
.footer-sub {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
}
.footer-sub-form {
  display: flex;
  gap: 24px;
}
.footer-label {
}
.footer-sub-input {
  border: 1px solid #fff;
  border-radius: 4px;
  min-width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: transparent;
  background-color: transparent;
  margin-right: 24px;
  padding: 8px 0 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-sub-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  ccolor: #ffffff;
}
.footer-sub-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icon-btn {
  fill: #fff;
}

/*modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  background-color: #fcfcfc;
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  padding: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.modal-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form-container {
  margin-bottom: 8px;
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.modal-icon-wrapper {
  position: relative;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding: 0 0 0 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: 14px;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: transparent;
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-form-container-msg {
  margin-bottom: 16px;
}
.modal-lable {
  font-weight: 400;

  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-msg-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  outline: transparent;
  background-color: transparent;
}
.modal-msg-text:focus {
  outline: transparent;
  border-color: #4d5ae5;
}
.modal-msg-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.modal-checkbox {
  margin-bottom: 24px;
}
.modal-checkbox-inp {
}
.checkbox-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-inp:checked + .checkbox-lable .checkbox-box {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.checkbox-icon {
}
.checkbox-lable {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-submit-btn {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
}
.modal-submit-btn:focus {
  background-color: #404bbf;
}
