body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
}
.section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* js scripts */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
/* /js scripts */
/* header */
/* mobile media */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 17px 0;
}
.logo-name {
  color: #2e2f42;
}
.container-list-nav {
  display: none;
}

.address {
  display: none;
}
.open-menu {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
}
/* mobile menu */
.backdrop-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  border-radius: 4px;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */
.modal-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px 16px 40px 16px;
  height: 100%;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  padding: 0;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  top: 24px;
  right: 24px;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}
.menu-list-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 151px;
  min-height: 200px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-navi-link {
  color: #2e2f42;
}
.menu-navi-hover {
  position: relative;
  color: #404bbf;
}
.menu-navi-link:focus,
.menu-navi-link:hover {
  color: #404bbf;
}
.menu-add-social {
  display: flex;
  flex-direction: column;
}
.menu-address {
  margin-bottom: 48px;
}
.menu-add-container {
  display: flex;
  flex-direction: column;
}
.menu-adr-link-hover {
  display: block;
  color: #4d5ae5;
  padding-bottom: 24px;
}
.menu-adr-link {
  color: #434455;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-adr-link:focus,
.menu-adr-link:hover {
  color: #404bbf;
}
.social-links-menu {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.link-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}
.link-menu:hover,
.link-menu:focus {
  background-color: #404bbf;
}

/* media tablet */
@media screen and (min-width: 768px) {
  .open-menu {
    display: none;
  }
  .logo {
    padding: 1.5px 0;
  }
  .logo-name {
    padding: 1.5px 0;
  }
  .container-list-nav {
    display: flex;
    gap: 40px;
  }
  .nav-container {
    gap: 120px;
  }
  .navi-link {
    display: block;
    padding: 24px 0;
    color: #2e2f42;
    letter-spacing: 0.02em;
    max-height: 72px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navi-hover {
    position: relative;
    color: #404bbf;
  }
  .navi-hover::after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
  .navi-link:focus,
  .navi-link:hover {
    color: #404bbf;
  }
  .address {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .add-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .adr-link {
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .adr-link:focus,
  .adr-link:hover {
    color: #404bbf;
  }
}

/* media desktop */
@media screen and (min-width: 1158px) {
  .nav-container {
    gap: 76px;
  }
  .address {
    font-size: 16px;
    line-height: 1.5;
  }
  .add-container {
    flex-direction: row;
    gap: 40px;
  }
}
/* section 1 */
/* mobile media*/
.title {
  padding: 72px 0;
  margin: 0 auto;
  max-width: 320px;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_section_images/hero_mobile.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_section_images/hero_mobile_2x.jpg);
  }
}
.title-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.button-type {
  display: block;
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  padding: 16px 32px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-type:focus,
.button-type:hover {
  background-color: #404bbf;
}

/* tablet media */
@media screen and (min-width: 768px) {
  .title {
    padding: 120px 0;
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_section_images/hero_tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero_section_images/hero_tablet_2x.jpg);
    }
  }

  .title-name {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

/* desktop media */
@media screen and (min-width: 1158px) {
  .title {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero_section_images/hero_desktop_2x.jpg);
    }
  }
  .title-name {
    margin-bottom: 48px;
  }
}

/* section 2 */
/* mobile media */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.svg-picture {
  display: none;
}
.items-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.describe {
  letter-spacing: 0.02em;
  color: #434455;
}

/* tablet media */
@media screen and (min-width: 768px) {
  .items-name {
    text-align: left;
  }
  .about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .about-list-items {
    max-width: calc((100% - 24px) / 2);
  }
}
/* desktop media */
@media screen and (min-width: 1158px) {
  .svg-picture {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    fill: currentColor;
  }
  .about-list > li:not(:last-child) {
    margin-right: 24px;
  }
  .about-list {
    flex-wrap: nowrap;
  }
  .items-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .about-list-items {
    width: calc((100% - 72px) / 4);
  }
  .describe {
    font-weight: 400;
  }
}

/* section 3 */
/* mobile media */
.team {
  background-color: #f4f4fd;
}
.head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-flex {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.team-list {
  border-radius: 0 0 4px 4px;
  max-width: 264px;
  max-height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.team-div {
  padding: 32px 0;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-prof {
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.social-links {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  background-color: #404bbf;
}
.link:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: #f4f4fd;
}
/* tablet media */
@media screen and (min-width: 768px) {
  .team-flex {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
}
/* desktop media */
@media screen and (min-width: 1158px) {
  .team-flex {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
/* section 4 */
/* mobile media */

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-list-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  overflow: auto;
  padding: 40px 32px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus,
.portfolio-list-item:active {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list-item .overlay {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-items {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio .team-name {
  text-align: start;
}
.portfolio .team-prof {
  text-align: start;
}
/* tablet media */
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}
/* desktop media */
@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-list > li {
    width: calc((100% - 48px) / 3);
  }
}
/* footer */
/* mobile media */
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 96px 0;
  background-color: #2e2f42;
}
.logo-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  padding: 0;
}
.logo-name-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin: 0 16px;
}
.footer-text-social {
  display: flex;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-links-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-links-footer .link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover {
  background-color: #31d0aa;
}
.link-footer:focus {
  background-color: #31d0aa;
}

.footer-sub {
  display: flex;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-label {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.footer-sub-input {
  border: 1px solid #fff;
  border-radius: 4px;
  min-width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: transparent;
  background-color: transparent;
  padding: 8px 0 8px 16px;
  opacity: 0.3;
}
.footer-sub-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.6;
}
.footer-sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 78px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
}
.footer-icon-btn {
  fill: #fff;
  margin-left: 16px;
}
/* tablet media */
@media screen and (min-width: 768px) {
  .footer-container {
    padding-left: 108px;
    padding-right: 164px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .logo-footer {
    justify-content: left;
  }
  .footer-text {
    max-width: 264px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin: 0;
    justify-content: left;
  }
  .footer-text-social {
    display: block;
    text-align: left;
  }
  .footer-subscribe {
    justify-content: left;
  }
  .footer-sub-form {
    display: flex;
    gap: 24px;
  }
  .footer-label {
    margin-bottom: 0;
  }
  .footer-sub {
    justify-content: left;
  }
  .footer-sub-btn {
    margin: 0;
  }
}
/* desktop media */
@media screen and (min-width: 1158px) {
  .footer {
    background-color: #2e2f42;

    max-width: 1440px;
  }
  .footer-container {
    align-items: baseline;
    flex-wrap: nowrap;
    padding: 100px 0;
  }
  .footer-container-logo {
    margin-right: 120px;
  }
}
